@import 'tailwindcss';

:root {
  --page-background-color: #fff;

  --text-color-primary: #323d47;
  --text-color-secondary: #5a6a7c;

  --button-background-color-primary: #2b3b35;
  --button-background-color-primary-disabled: #bfc5c2;
  --button-background-color-primary-hover: #ad775c;
  --button-color-primary: #fff;

  --button-background-color-secondary: #ad775c;
  --button-background-color-secondary-disabled: #e2d6cf;
  --button-background-color-secondary-hover: #c88a6b;
  --button-color-secondary: #fff;

  --link-color: #ad775c;

  --navlink-color: #757575;
  --navlink-color-hover: #555;
  --navlink-color-active: #555;

  --header-background-color: #fff;
  --header-border-color: #f4ebe6;

  --footer-background-color: #313433;
  --footer-border-color: #1f1f20;
  --footer-text-color: #f7f9f8;

  --content-background-color-primary: #f7fafc;
  --content-background-color-secondary: #f4ebe6;
  --content-background-color-tertiary: #fff;

  --form-label-color: #757575;

  --form-text-input-background-color: #fff;
  --form-text-input-color: #23223a;
}

body {
  margin: 0;

  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--page-background-color);
  color: var(--text-color-primary);
}

html,
body,
#root {
  height: 100%;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

/* page */
.page-background-color {
  background-color: var(--page-background-color);
}

.text-color-secondary {
  color: var(--text-color-secondary);
}

/* button */
.button-background-color-primary {
  background-color: var(--button-background-color-primary);
}

.button-background-color-primary-hover:hover {
  background-color: var(--button-background-color-primary-hover);
}

.button-background-color-primary-disabled:disabled {
  background-color: var(--button-background-color-primary-disabled);
}

.button-color-primary {
  color: var(--button-color-primary);
}

.button-background-color-secondary {
  background-color: var(--button-background-color-secondary);
}

.button-background-color-secondary-hover:hover {
  background-color: var(--button-background-color-secondary-hover);
}

.button-background-color-secondary-disabled:disabled {
  background-color: var(--button-background-color-secondary-disabled);
}

.button-color-secondary {
  color: var(--button-color-secondary);
}

/* link */
.link-color {
  color: var(--link-color);
}

/* header */
.header-background-color {
  background-color: var(--header-background-color);
}

.header-border-color {
  border-color: var(--header-border-color);
}

/* navlink */
.navlink-color {
  color: var(--navlink-color);
}

.navlink-color-active {
  color: var(--navlink-color-active);
}

.navlink-color-hover:hover {
  color: var(--navlink-color-hover);
}

/* footer */
.footer-background-color {
  background-color: var(--footer-background-color);
}

.footer-border-color {
  border-color: var(--footer-border-color);
}

.footer-text-color {
  color: var(--footer-text-color);
}

/* content */
.content-background-color-primary {
  background-color: var(--content-background-color-primary);
}

.content-background-color-secondary {
  background-color: var(--content-background-color-secondary);
}

.content-background-color-tertiary {
  background-color: var(--content-background-color-tertiary);
}

/* form-label */
.form-label-color {
  color: var(--form-label-color);
}

/* form-text-input */
.form-text-input-background-color {
  background-color: var(--form-text-input-background-color);
}

.form-text-input-color {
  color: var(--form-text-input-color);
}
