@import 'tailwindcss';

/* :root { } */

@theme {
  --font-handwritten: 'Brush Script MT', cursive;

  --color-page-background-color: #fff;

  --color-text-color-primary: #323d47;
  --color-text-color-secondary: #5a6a7c;

  --color-button-background-color-primary: #2b3b35;
  --color-button-background-color-primary-disabled: #bfc5c2;
  --color-button-background-color-primary-hover: #ad775c;
  --color-button-color-primary: #fff;

  --color-button-background-color-secondary: #ad775c;
  --color-button-background-color-secondary-disabled: #e2d6cf;
  --color-button-background-color-secondary-hover: #c88a6b;
  --color-button-color-secondary: #fff;

  --color-link-color: #ad775c;

  --color-navlink-color: #757575;
  --color-navlink-color-hover: #555;
  --color-navlink-color-active: #555;

  --color-header-background-color: #fff;
  --color-header-border-color: #f4ebe6;

  --color-footer-background-color: #313433;
  --color-footer-border-color: #1f1f20;
  --color-footer-text-color: #f7f9f8;

  --color-content-background-color-primary: #f7fafc;
  --color-content-background-color-secondary: #f4ebe6;
  --color-content-background-color-tertiary: #fff;

  --color-form-label-color: #757575;

  --color-form-text-input-background-color: #fff;
  --color-form-text-input-color: #23223a;
}

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-page-background-color);
  color: var(--color-text-color-primary);
}

html,
body,
#root {
  height: 100%;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}
