.dockerignore
.editorconfig
.env
.git
.gitignore
.pre-commit-config.yaml
.vs
.vscode
.gitlab-ci.yml
docker-compose*.yml
docker-compose.dcproj
*.md
hosts
LICENSE
*.testsettings
vsts-docs
ServiceFabric
readme
chart
k8s
img
docs
deploy
Components
cli-windows
cli-mac
cli-linux
**/bin/
**/obj/
**/node_modules/
**/bower_components/
**/wwwroot/lib/
database/
**/appsettings.Development.json
