@page

@using CookBook.IdentityProvider.Api.Pages.Home;

@model IndexModel

<div class="flex min-h-screen">
    <div class="hidden lg:block lg:w-1/2">
        <img src='~/images/login_side_panel_image.png' alt="A vibrant dish of food" class="object-cover w-full h-full" />
    </div>

    <div class="w-full lg:w-1/2 flex items-center justify-center p-8 bg-gray-100">
        <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-lg text-center">
            @if (Model.UserInfo.IsAuthenticated)
            {
                <h1 class="text-2xl font-bold text-gray-800 mb-6">Hello @Model.UserInfo.DisplayName</h1>
                <form method="post" action="/connect/logout">
                    <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Log Out
                    </button>
                </form>
            }
            else
            {
                <h1 class="text-2xl font-bold text-gray-800 mb-6">
                    Welcome to CookBook
                </h1>
                <p class="text-gray-600">
                    <a asp-page="/Account/LogIn/Index" class="text-blue-500 hover:text-blue-700">Log In</a> to continue.
                </p>
            }
        </div>
    </div>
</div>
